/*========================= NAVBAR =========================*/
#navbar-heading {
  padding: 0 !important;
}

#navbar-heading .navbar {
  color: #ffffff;
  font-weight: 600;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 20px;
}

#navbar-heading .navbar .nav-item {
  width: 180px;
  text-align: center;
}

#navbar-heading .navbar a {
  color: #000000;
  z-index: 100;
}

#navbar-heading .navbar a:hover {
  color: #02ffe8;
}

#navbar-heading .navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  background-color: #825a00d9;
}

#navbar-heading .navbar-expand-lg .navbar-nav .dropdown-menu li a {
  color: #ffffff;
  font-weight: 600;
}

#navbar-heading .navbar-expand-lg .navbar-nav .dropdown-menu li :hover {
  color: #012226;
}

#navbar-heading .dropdown-item {
  text-transform: none;
}

#navbar-heading .btn-outline-secondary {
  color: beige;
  border-color: #222;
  z-index: 100;
}

/*================================= COROUSEL =========================================*/
.carousel {
  position: relative;
  z-index: -100;
}

/*================================= FOOTER SECTION =======================================*/
#footerstyle {
  background-color: #022234;
  padding-top: 30px;
  /* ============================== col-md-4 widget ================*/
}

#footerstyle footer a {
  color: #cac3c3;
  text-decoration: none !important;
}

#footerstyle .foot-1 {
  color: #b9b9b9;
}

#footerstyle .foot-li li {
  list-style-type: none;
  text-align: left;
  line-height: 1.75rem;
  font-size: 15px;
}

#footerstyle .foot-li li a {
  color: #727070;
}

#footerstyle .foot-li li a:hover {
  color: #f48905;
}

#footerstyle .widget-heading h4 {
  border-bottom: 3px solid #09c;
  text-transform: uppercase;
  color: #cfb9a9 !important;
  font-weight: bold;
  font-weight: 700px;
  font-size: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  text-align: center;
}

#footerstyle .widget ul li > a {
  padding: 10px 0;
  display: block;
}

#footerstyle .widget a {
  text-decoration: none;
}

#footerstyle .widget a:hover {
  text-decoration: underline;
}

#footerstyle .widget .footer-contact-info {
  padding: 40px 0 30px;
}

#footerstyle .widget .footer-contact-info ul li {
  list-style-type: none;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  color: #a6a4a4;
}

#footerstyle .widget .footer-contact-info ul li span {
  display: inline-block;
  margin: 0 10px;
  color: #c4c4c4;
}

#footerstyle .widget .footer-contact-info ul li i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
  color: #94989f;
  margin-right: 5px;
  width: 25px;
}

#footerstyle .widget .footer-contact-info .svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  width: 25px;
  margin-right: 10px;
}

#footerstyle .label_nav ul li {
  list-style-type: none;
}

#footerstyle .widget .singleleft_inner {
  background-color: transparent;
}

#footerstyle .widget .singleleft_inner ul li {
  list-style-type: none;
}

#footerstyle .widget .link_nav li {
  list-style-type: none;
}

#footerstyle .widget .link_nav li a {
  color: #aea9a2;
  font-weight: 600;
}

#footerstyle .widget .link_nav li a:hover {
  color: #09c;
}

#footerstyle .widget .single_footer_top {
  float: left;
  display: inline;
  width: 100%;
  padding-bottom: 30px;
}

#footerstyle .widget .single_footer_top > h2 {
  border-bottom: 5px solid #09c;
  background-color: rgba(0, 0, 0, 0.04);
  border-left: 0 none;
  border-right: 0 none;
  color: #b9b9b9;
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
  padding: 10px 0;
}

#footerstyle .widget .single_footer_top ul li a {
  color: #eee;
}

#footerstyle .widget .footer_labels li {
  list-style-type: none;
}

#footerstyle .widget .footer_labels li a {
  display: block;
  float: left;
  background-color: #222;
  color: #eee;
  font-size: 12px;
  padding: 5px 10px;
  margin-left: 5px;
  margin-bottom: 10px;
  transition: all 0.5s;
}

#footerstyle .widget .footer_labels li a:hover,
#footerstyle .footer_labels li a:focus {
  background-color: #09c;
  text-decoration: none;
}

#footerstyle .label_nav li a {
  border-bottom: 1px solid;
  color: #777;
  display: block;
  padding: 8px 5px;
  font-size: 13px;
  transition: all 0.5s;
}

#footerstyle .label_nav li a:hover {
  background-color: #09c;
  color: #eee;
  border-color: #09c;
  text-decoration: none;
  padding-left: 15px;
}

#footerstyle .label_nav li a:before {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin-right: 5px;
}

#footerstyle .link_nav li a {
  display: block;
  padding: 3px 5px;
  font-size: 14px;
  transition: all 0.5s;
}

#footerstyle .link_nav li a:before {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin-right: 5px;
}

#footerstyle .link_nav li a:hover {
  padding-left: 15px;
  color: #777;
  text-decoration: none;
}

#foot2 {
  background-color: #0c0b09;
  padding-bottom: 0;
  margin-bottom: 0;
}

#foot2 .footer_bottom_left {
  display: inline;
  width: 50%;
  text-align: end;
}

#foot2 .footer_bottom_left p {
  color: #c0bbbb;
  font-size: 15px;
}

#foot2 .footer_bottom_right {
  float: left;
}

#foot2 .footer_bottom_right .list-icons {
  display: inline-flex;
  color: #c5cae9;
}

#foot2 .footer_bottom_right .list-icons li {
  list-style: none;
  padding: 12px;
  border-radius: 50px;
  width: 49px;
  margin-right: 10px;
}

#foot2 .footer_bottom_right .list-icons li i {
  font-size: 17px;
  color: #fff;
}

#foot2 .footer_bottom_right .list-icons li :hover {
  color: #161515;
}

@media (max-width: 700px) {
  #foot2 .footer_bottom_right .list-icons li .list-icons {
    display: block;
  }
}

#foot2 .footer_bottom_right .list-icons .facebook {
  background: #00277a;
}

#foot2 .footer_bottom_right .list-icons .instagram {
  background: #064578;
}

#foot2 .footer_bottom_right .list-icons .youtube {
  background: #6e0000;
}

#foot2 .footer_bottom_right .list-icons .whatsapp {
  background: #066501;
}

#foot2 .footer_bottom_right .list-icons .pinterest {
  background: #cd060c;
}

.scrollToTop {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 50px;
  background: linear-gradient(45deg, #096e7c 0%, #ff3434 100%);
  bottom: 105px;
  display: none;
  font-size: 32px;
  font-weight: bold;
  height: 50px;
  position: fixed;
  right: 75px;
  text-align: center;
  text-decoration: none;
  width: 50px;
  z-index: 9999;
  transition: all 0.5s;
}

.scrollToTop:hover,
.scrollToTop:focus {
  text-decoration: none;
  outline: none;
}

/*==================== PAGE TOP SECTION =============================*/
.page-top-section {
  margin-top: 24px;
  height: 200px;
  padding-top: 50px;
  color: burlywood;
  font-size: 2em;
}

/*================== DEVELOPMENTS-DESCRIPTION ===============*/
#developments {
  background-color: aliceblue;
  padding: 0;
}

#developments .support-company-area .support-location-img img {
  width: 100%;
  box-shadow: 0 0 4px 2px #686464;
  border: 6px solid #fff;
  background: white;
}

#developments .support-company-area .left-caption {
  text-align: right;
  position: relative;
  float: right;
}

#developments .support-company-area .left-caption .section-tittle span {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 17px;
  text-transform: uppercase;
  position: relative;
  padding-left: 68px;
  color: #fcfcfc;
}

#developments .support-company-area .left-caption .section-tittle span::before {
  position: absolute;
  content: "";
  width: 54px;
  height: 2px;
  background: #fcfcfc;
  top: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#developments .support-company-area .left-caption .section-tittle2 span::before {
  background: #fff;
  float: right;
}

#developments .support-company-area .left-caption .section-tittle2 h2 {
  margin-top: 0.5em;
  font-size: 40px;
  display: block;
  color: #063b57;
  font-weight: 900;
  text-align: end;
}

#developments .support-company-area .support-caption {
  text-align: justify;
}

#developments .support-company-area .support-caption p {
  color: #005f5b;
  font-weight: 400;
}

#developments .support-company-area .support-caption p .pera-top {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
}

#developments .support-company-area .support-caption .post-btn1 {
  background: #0097b5;
  padding: 27px 44px;
  text-transform: uppercase;
  color: #fff;
  outline: medium;
  cursor: pointer;
  font-size: 14 px;
  border-radius: 0;
  -moz-user-select: none;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 0;
  margin-bottom: 0;
  margin: 10px;
  cursor: pointer;
  transition: color .4s linear;
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden;
  margin-top: 2em;
  float: right;
}

#developments .support-company-area .support-caption .post-btn1:hover {
  transform: scaleX(1);
  color: #000 !important;
  background-color: #ffffff;
}

#developments .support-company-area .right-caption {
  position: relative;
}

#developments .support-company-area .right-caption .section-tittle span {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 17px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  padding-left: 68px;
  color: #069588;
}

#developments .support-company-area .right-caption .section-tittle span::before {
  position: absolute;
  content: "";
  width: 54px;
  height: 2px;
  color: #069588;
  top: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#developments .support-company-area .right-caption .section-tittle2 span::before {
  background: #069588;
}

#developments .support-company-area .right-caption .section-tittle2 h2 {
  font-size: 40px;
  display: block;
  color: #063b57;
  font-weight: 900;
}

#developments .support-company-area .support-caption {
  text-align: justify;
}

#developments .support-company-area .support-caption p {
  color: #005f5b;
  font-weight: 400;
}

#developments .support-company-area .support-caption p .pera-top {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
}

#developments .support-company-area .support-caption .post-btn {
  background: #0097b5;
  padding: 27px 44px;
  text-transform: uppercase;
  color: #fff;
  outline: medium;
  cursor: pointer;
  display: inline-block;
  font-size: 14 px;
  border-radius: 0;
  -moz-user-select: none;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 0;
  margin-bottom: 0;
  margin: 10px;
  cursor: pointer;
  transition: color .4s linear;
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden;
  margin-top: 2em;
}

#developments .support-company-area .support-caption .post-btn:hover {
  transform: scaleX(1.1);
  color: #000 !important;
  background-color: #ffffff;
  transition-delay: 0.4s;
  -webkit-transform: scaleX(1.1);
  -moz-transform: scaleX(1.1);
  -ms-transform: scaleX(1.1);
  -o-transform: scaleX(1.1);
}

#developments .section-bg2 {
  background-image: url("../img/developments/back-dev4.gif");
  padding: 2em;
}

#developments .section-bg {
  background-image: url("../img/developments/back-dev3.gif");
  padding: 2em;
}

/******************** DEVELOPMENTS-HOME *************************/
#dev-home {
  background-color: aliceblue;
}

#dev-home .section-tittle span {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 17px;
  text-transform: uppercase;
  color: #933204;
  display: inline-block;
  position: relative;
  padding-left: 68px;
}

#dev-home .section-tittle span::before {
  position: absolute;
  content: "";
  width: 54px;
  height: 2px;
  background: #933204;
  top: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#dev-home .section-tittle h2 {
  font-size: 50px;
  display: block;
  color: #092c3f;
  font-weight: 900;
  margin-bottom: 10px;
}

#dev-home .home-blog-single {
  transition: all .4s ease-out 0s;
  margin-bottom: 30px;
  box-shadow: 1px 8px 6px 3px #e2e2e1;
  height: 660px;
}

#dev-home .home-blog-single .blog-img-cap .blog-img {
  overflow: hidden;
  position: relative;
}

#dev-home .home-blog-single .blog-img-cap .blog-img img {
  width: 100%;
  transition: all .5s ease-out 0s;
  height: 310px;
}

#dev-home .home-blog-single .blog-img-cap .blog-img :hover {
  transform: scale 1;
  transition: all .5s ease-out 0s;
}

#dev-home .home-blog-single .blog-img-cap .blog-img ul li {
  font-weight: 600;
  color: #ffffff;
  box-shadow: 3px 2px 5px #a19e9e;
  padding: 25px 30px 25px 30px;
  background-color: #ff9900;
  list-style-type: none;
  position: relative;
  width: 70%;
  margin-top: -2.5em;
  text-align: center;
  margin-left: 2.3em;
  text-shadow: 3px 6px 6px black;
}

#dev-home .home-blog-single .blog-img-cap .blog-cap {
  background: #fff;
  padding: 90px 86px 36px 81px;
  margin-top: -5em;
  height: 390px;
}

#dev-home .home-blog-single .blog-img-cap .blog-cap h3 {
  font-weight: 500;
  color: #c4c4c4;
  margin-bottom: 15px;
  text-align: center;
}

#dev-home .home-blog-single .blog-img-cap .blog-cap h3 a {
  text-decoration: none;
  font-weight: 500;
  color: #933204;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4;
  display: block;
  margin-bottom: 0;
  height: 210px;
  text-align: center;
}

#dev-home .home-blog-single .blog-img-cap .blog-cap h3 a :focus {
  color: #092c3f;
}

#dev-home .home-blog-single .blog-img-cap .blog-cap .post-btn {
  background: #0097b5;
  padding: 27px 44px;
  text-transform: uppercase;
  color: #fff;
  outline: medium;
  cursor: pointer;
  display: inline-block;
  font-size: 14 px;
  border-radius: 5px;
  -moz-user-select: none;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 0;
  padding-bottom: 2e;
  cursor: pointer;
  transition: color .4s linear;
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden;
}

#dev-home .home-blog-single .blog-img-cap .blog-cap .post-btn:hover {
  transform: scaleX(1.1);
  color: #000 !important;
  background-color: #ff7525;
  transition-delay: 0.4s;
  -webkit-transform: scaleX(1.1);
  -moz-transform: scaleX(1.1);
  -ms-transform: scaleX(1.1);
  -o-transform: scaleX(1.1);
}

/* ===================== THEME RESPONSIVE -DEVELOPMENTS ==========================*/
@media (min-width: 992px) and (max-width: 1399.98px) {
  #developments {
    background-color: aliceblue;
    padding: 0;
  }
  #developments .support-company-area .support-location-img img {
    width: 100%;
    transition: all .5s ease-out 0s;
  }
  #developments .support-company-area .left-caption {
    text-align: right;
    position: relative;
    float: right;
  }
  #developments .support-company-area .left-caption .section-tittle span {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 17px;
    text-transform: uppercase;
    position: relative;
    padding-left: 68px;
    color: #2116c1;
  }
  #developments .support-company-area .left-caption .section-tittle span::before {
    position: absolute;
    content: "";
    width: 54px;
    height: 2px;
    background: #2116c1;
    top: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  #developments .support-company-area .left-caption .section-tittle2 span::before {
    background: #2116c1;
    float: right;
  }
  #developments .support-company-area .left-caption .section-tittle2 h2 {
    margin-top: 0.5em;
    font-size: 20px;
    display: block;
    color: #ffffff;
    font-weight: 900;
    text-align: end;
  }
  #developments .support-company-area .support-caption {
    text-align: justify;
  }
  #developments .support-company-area .support-caption p {
    color: #dce4e3;
    font-weight: 400;
    padding: 20px;
  }
  #developments .support-company-area .support-caption p .pera-top {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
  }
  #developments .support-company-area .support-caption .post-btn1 {
    background: #0097b5;
    padding: 27px 44px;
    text-transform: uppercase;
    color: #fff;
    outline: medium;
    cursor: pointer;
    font-size: 14 px;
    border-radius: 0;
    -moz-user-select: none;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    margin: 10px;
    cursor: pointer;
    transition: color .4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin-top: 2em;
    float: right;
  }
  #developments .support-company-area .support-caption .post-btn1:hover {
    transform: scaleX(1);
    color: #000 !important;
    background-color: #ffffff;
  }
  #developments .support-company-area .right-caption {
    position: relative;
  }
  #developments .support-company-area .right-caption .section-tittle span {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 17px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding-left: 68px;
    color: #f0a909;
  }
  #developments .support-company-area .right-caption .section-tittle span::before {
    position: absolute;
    content: "";
    width: 54px;
    height: 2px;
    background: #f0a909;
    top: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  #developments .support-company-area .right-caption .section-tittle2 span::before {
    background: #f0a909;
  }
  #developments .support-company-area .right-caption .section-tittle2 h2 {
    font-size: 40px;
    display: block;
    color: #ffffff;
    font-weight: 900;
  }
  #developments .support-company-area .support-caption {
    text-align: justify;
  }
  #developments .support-company-area .support-caption p {
    color: #dce4e3;
    font-weight: 400;
  }
  #developments .support-company-area .support-caption p .pera-top {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
  }
  #developments .support-company-area .support-caption .post-btn {
    background: #0097b5;
    padding: 27px 44px;
    text-transform: uppercase;
    color: #fff;
    outline: medium;
    cursor: pointer;
    display: inline-block;
    font-size: 14 px;
    border-radius: 0;
    -moz-user-select: none;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    margin: 10px;
    cursor: pointer;
    transition: color .4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin-top: 2em;
  }
  #developments .support-company-area .support-caption .post-btn:hover {
    transform: scaleX(1.1);
    color: #000 !important;
    background-color: #ffffff;
    transition-delay: 0.4s;
    -webkit-transform: scaleX(1.1);
    -moz-transform: scaleX(1.1);
    -ms-transform: scaleX(1.1);
    -o-transform: scaleX(1.1);
  }
  #developments .section-bg2 {
    background-image: url("../img/developments/back-dev4.gif");
    padding: 2em;
  }
  #developments .section-bg {
    background-image: url("../img/developments/back-dev3.gif");
    padding: 2em;
  }
  /* ============= DEV-HOME ==================*/
  #dev-home {
    background-color: aliceblue;
  }
  #dev-home .section-tittle span {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 17px;
    text-transform: uppercase;
    color: #933204;
    display: inline-block;
    position: relative;
    padding-left: 68px;
  }
  #dev-home .section-tittle span::before {
    position: absolute;
    content: "";
    width: 54px;
    height: 2px;
    background: #933204;
    top: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  #dev-home .section-tittle h2 {
    font-size: 20px;
    display: block;
    color: #092c3f;
    font-weight: 900;
    margin-bottom: 10px;
  }
  #dev-home .home-blog-single {
    transition: all .4s ease-out 0s;
    margin-bottom: 30px;
    box-shadow: 1px 8px 6px 3px #e2e2e1;
    height: 695px;
  }
  #dev-home .home-blog-single .blog-img-cap .blog-img {
    overflow: hidden;
    position: relative;
  }
  #dev-home .home-blog-single .blog-img-cap .blog-img img {
    width: 100%;
    transition: all .5s ease-out 0s;
    height: 310px;
  }
  #dev-home .home-blog-single .blog-img-cap .blog-img :hover {
    transform: scale 1;
    transition: all .5s ease-out 0s;
  }
  #dev-home .home-blog-single .blog-img-cap .blog-img ul li {
    font-weight: 600;
    color: #ffffff;
    box-shadow: 3px 2px 5px #a19e9e;
    padding: 25px 30px 25px 30px;
    background-color: #ff9900;
    list-style-type: none;
    position: relative;
    width: 70%;
    font-size: 12px;
    margin-top: -2.5em;
    text-align: center;
    margin-left: 2.3em;
    text-shadow: 3px 6px 6px black;
  }
  #dev-home .home-blog-single .blog-img-cap .blog-cap {
    background: #fff;
    padding: 90px 86px 36px 81px;
    margin-top: -5em;
    height: 395px;
  }
  #dev-home .home-blog-single .blog-img-cap .blog-cap h3 {
    font-weight: 500;
    color: #c4c4c4;
    margin-bottom: 15px;
    text-align: center;
  }
  #dev-home .home-blog-single .blog-img-cap .blog-cap h3 a {
    text-decoration: none;
    font-weight: 500;
    color: #933204;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.4;
    display: block;
    margin-bottom: 0;
    height: 210px;
    text-align: center;
  }
  #dev-home .home-blog-single .blog-img-cap .blog-cap h3 a :focus {
    color: #092c3f;
  }
  #dev-home .home-blog-single .blog-img-cap .blog-cap .post-btn {
    background: #0097b5;
    padding: 27px 44px;
    text-transform: uppercase;
    color: #fff;
    outline: medium;
    cursor: pointer;
    display: inline-block;
    font-size: 11 px;
    border-radius: 5px;
    -moz-user-select: none;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 0;
    padding-bottom: 2e;
    cursor: pointer;
    transition: color .4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
  }
  #dev-home .home-blog-single .blog-img-cap .blog-cap .post-btn:hover {
    transform: scaleX(1.1);
    color: #000 !important;
    background-color: #ff7525;
    transition-delay: 0.4s;
    -webkit-transform: scaleX(1.1);
    -moz-transform: scaleX(1.1);
    -ms-transform: scaleX(1.1);
    -o-transform: scaleX(1.1);
  }
}

@media only screen and (max-width: 991.98px) {
  /* ============= DEV-HOME ==================*/
  #dev-home {
    background-color: aliceblue;
  }
  #dev-home .section-tittle span {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 17px;
    text-transform: uppercase;
    color: #933204;
    display: inline-block;
    position: relative;
    padding-left: 68px;
  }
  #dev-home .section-tittle span::before {
    position: absolute;
    content: "";
    width: 54px;
    height: 2px;
    background: #933204;
    top: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  #dev-home .section-tittle h2 {
    font-size: 19px;
    display: block;
    color: #092c3f;
    font-weight: 900;
    margin-bottom: 10px;
  }
  #dev-home .home-blog-single {
    transition: all .4s ease-out 0s;
    margin-bottom: 30px;
    box-shadow: 1px 8px 6px 3px #e2e2e1;
    height: 470px;
  }
  #dev-home .home-blog-single .blog-img-cap .blog-img {
    overflow: hidden;
    position: relative;
  }
  #dev-home .home-blog-single .blog-img-cap .blog-img img {
    width: 100%;
    transition: all .5s ease-out 0s;
    height: 250px;
  }
  #dev-home .home-blog-single .blog-img-cap .blog-img :hover {
    transform: scale 1;
    transition: all .5s ease-out 0s;
  }
  #dev-home .home-blog-single .blog-img-cap .blog-img ul li {
    font-weight: 600;
    color: #ffffff;
    box-shadow: 3px 2px 5px #a19e9e;
    padding: 20px 25px 20px 25px;
    background-color: #ff9900;
    list-style-type: none;
    position: relative;
    width: 70%;
    font-size: 10px;
    margin-top: -2.5em;
    text-align: center;
    margin-left: 2.3em;
    text-shadow: 3px 6px 6px black;
  }
  #dev-home .home-blog-single .blog-img-cap .blog-cap {
    background: #fff;
    padding: 90px 86px 36px 81px;
    margin-top: -5em;
    height: 245px;
  }
  #dev-home .home-blog-single .blog-img-cap .blog-cap h3 {
    font-weight: 500;
    color: #c4c4c4;
    margin-bottom: 10px;
    text-align: center;
  }
  #dev-home .home-blog-single .blog-img-cap .blog-cap h3 a {
    text-decoration: none;
    font-weight: 500;
    color: #933204;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    display: block;
    margin-bottom: 0;
    height: 95px;
    text-align: center;
  }
  #dev-home .home-blog-single .blog-img-cap .blog-cap h3 a :focus {
    color: #092c3f;
  }
  #dev-home .home-blog-single .blog-img-cap .blog-cap .post-btn {
    background: #0097b5;
    padding: 15px 22px;
    text-transform: uppercase;
    color: #fff;
    outline: medium;
    cursor: pointer;
    float: none;
    font-size: 11px;
    border-radius: 5px;
    -moz-user-select: none;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 0;
    padding-bottom: 2e;
    cursor: pointer;
    transition: color .4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin-bottom: 1em;
  }
  #dev-home .home-blog-single .blog-img-cap .blog-cap .post-btn:hover {
    transform: scaleX(1.1);
    color: #000 !important;
    background-color: #ff7525;
    transition-delay: 0.4s;
  }
}
/*# sourceMappingURL=ayesha.css.map */