/* ====================== DONATION ==================*/
#donation{

  
    .d-img{
        width: 100%;
    }
  
  
    .description{
    
        padding: 2rem;
        text-align: center;
  
    .d-title{
        font-size: 25px;
        font-weight: 700;
        padding-bottom: 1em;
        text-align: center;
        color: rgb(52, 47, 119);
       
    }
    
  
         .d-text{
            
             font-size: 20px;
             font-weight: 600;
            
         }
        }
  
      
        
         button{
             background-color:#28ABE3;
  
             display: inline-block;
             font-size: 18px;
             letter-spacing: 1px;
            padding: 12px 40px;
             border: 0px #28ABE3;
            border-radius: 40px;
    
            font-weight: 600;
         }
           
        }



        /*==================donation page========================*/

        #sponcers{

            .title{
                font-size: 25px;
                font-weight: 700;
                text-align: center;
                
            
            }
            .introduction{
                font-size: 20px;
                text-align: center;
            }
        
            .d-img{
                width: 100%;
              border-width: 10px;
              
            }
            .donate{
                text-align: center;
                font-size: 25px;
                font-weight: bold;
            }
            .new{
                width: 25%;
               border: 2px solid yellow; 
               margin-bottom: 5rem;
               
            }
        }
        
        
        #donation{
            background-color: rgba(145, 137, 127, 0.199);
            text-align: center;
            margin-top: 3rem;
        
            p{
                    
                font-size: 25px;
            }
        
        .number{
                   
            font-size: 32px;
        
            .color{
                background-color:#ffeb3b; 
            }
        }
        }
        
        
        
        
                                                        
   
    
  