#donation{
    background-color: white;
    margin-bottom: 3rem;
   
    .d-img{
        width: 100%;
    }
  
  
    .description{
    
        padding: 2rem;
        text-align: center;
  
    .d-title{
        font-size: 25px;
        font-weight: 700;
        padding-bottom: 1em;
        text-align: center;
        color: rgb(52, 47, 119);
       
    }
    
  
         .d-text{
            
             font-size: 20px;
             font-weight: 600;
            
         }
        }
  
      
        
         button{
             background-color:#28ABE3;
  
             display: inline-block;
             font-size: 18px;
             letter-spacing: 1px;
            padding: 12px 40px;
             border: 0px #28ABE3;
            border-radius: 40px;
    
            font-weight: 600;
         }
            
        }
   



/*=========donation page==========*/ 

#sponcers{
    .masssege{
        position: relative;
    
       
        .title{
            font-size: 25px;
            font-weight: 700;
            text-align: center;
            
        
        }

        i{
            font-size: 15em;
            position: absolute;
            top: 120px;
            right: 0;
            left: 0;
            text-align: center;
            color: rgba(82, 60, 60, 0.1);
           
        }
       
        .introduction{
            font-size: 20px;
            text-align: center;
            padding-top: 2rem;
        }

        
    }
    .d-img{
        width: 100%;
      border-width: 10px;
     
      
    }
   
} 
/*=========image==========*/ 
#buddhist{
    background-attachment: fixed;
    background-image: url("../img/donation/s10.jpg");
    background-size: cover;
    display: inline;
    float: left;
    width: 100%;
   
    opacity: 60%;
    
   
  
    
  }
  
 

  .donate{
    text-align: center;
    font-size: 25px;
    font-weight: bold;

}

p{
            
    font-size: 25px;
    text-align: center;
}

.number{
       
font-size: 32px;

.color{
    background-color:#ffeb3b; 
}

}



// =========donation page==========

#donations{
    padding: 0;
     background-attachment: fixed;
    background-image: url("../img/donation/s10.jpg");
    background-size: cover;
    display: inline;
    float: left;
    width: 100%;
   opacity: 80%;
    text-align: center;
 
  .background{
    background-color: #000000b5;
  }


.donate{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: white;
   
    }

    p{
            
        font-size: 28px;
        color: white;
    }

.number{
           
    font-size: 32px;

    .color{
        background-color:#f7bf08; 
    }
  
}
.spon{
    
    margin-top: 3rem;

}

}



