#donation{
    background-color: white;
    margin-bottom: 3rem;
   
    .d-img{
        width: 100%;
    }
  
  
    .description{
    
        padding: 2rem;
        text-align: center;
  
    .d-title{
        font-size: 25px;
        font-weight: 700;
        padding-bottom: 1em;
        text-align: center;
        color: rgb(52, 47, 119);
       
    }
    
  
         .d-text{
            
             font-size: 20px;
             font-weight: 600;
            
         }
        }
  
      
        
         button{
             background-color:#28ABE3;
  
             display: inline-block;
             font-size: 18px;
             letter-spacing: 1px;
            padding: 12px 40px;
             border: 0px #28ABE3;
            border-radius: 40px;
    
            font-weight: 600;
         }
            
        }
   
    
  