

#head{

    
    background: linear-gradient(to left,#d6a4a4,#dae2f8);
    padding: 40px;
    
    
        
    
    .lotuscontainer{
        
        position: relative;
        text-align: center;
        color: black;
        margin-top: 10px;
    
    
        

        img{

            width:50%;
            height:50%;
            opacity:0.2;
            width:100%;
            text-align: center;
        }


        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: fit-content;

            .hname{
                font-size: 30px;
                font-weight: bold;

            }

            .hpara{

                margin:0px;
                padding:0px;
            }
        
          

        
        

            p{
            text-align:center;


            }

    
        }
    }

    .imgrow{

        

        .imgdiv{
            padding-right:1px;
        
            

            .topimg{

                padding-bottom:10px;
        
            }

            

            img{
                box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 9px 20px 0 rgba(0, 0, 0, 0.19);
            }

            img:hover{
                opacity: 0.3;
            }
        

            .img1{
            height:330px;
            object-fit:cover;
            
            
            
            


             }


            .img2{
            height:404px; 
            object-fit:cover;
        
            

            }

            .img3{
            height:404px; 
            object-fit:cover;
            
    
             


            }

            .img4{
            height:330px; 
            object-fit:cover;
             


            }

    }

    
    }

}


#servicesec{

    box-sizing: border-box;
   

    .services{

        margin-top: 80px;

        .flex-container{
        
            
            .grid-wrapper,.service-content{
                flex-basis: 50%;
            }
            .grid-wrapper{

                .grid-box{
                background: darkslategray;
                margin: 10px;
                height: 20px;
                }
            }

            .service-content{
                

                .ctn{

                    padding: 10px 20px;
                    background: linear-gradient(to bottom right,rgb(255,207,145),rgb(255,111,92));
                    border-radius:50px ;
                }

                .ctn:hover{
                    background: linear-gradient(to bottom right,rgb(255,111,92),rgb(255,207,145));
                }

                a{
                    text-decoration: none;
                    color: whitesmoke;
                }
            }
        }
    }
}









