#news {
    .card {
      padding: 0px 10px 10px 10px;
     
      margin-bottom: 20px;
  
      .card-img {
        margin-top: -20px;
        border-radius: 5px;
        box-shadow: 1px 0px 0px 0px #dbd2db;
      }
      .card-title {
        padding-bottom: inherit;
  
      }
      .card-text{
        color: #7d8282;
        text-align: justify;
      }
      .news_DateField{
        color: #615f5f;
        font-size: 0.9em;
      }
       .more {
        text-align: inherit;
        color: #FF9800;
        margin-left: 381px;
       
     }
    }
  }
  