#news {
    .card {
      padding: 0px 10px 10px 10px;
      box-shadow: 0px 1px 9px 3px rgba(219, 210, 219, 1);
      margin-bottom: 20px;
  
      .card-img {
        margin-top: -20px;
        border-radius: 5px;
        box-shadow: 1px 0px 0px 0px #dbd2db;
      }
      .card-title {
        padding-bottom: inherit;
  
      }
      .card-text{
        color: #7d8282;
      }
      .news_DateField{
        color: #615f5f;
        font-size: 0.9em;
      }
       .more {
        padding: 10px;
        text-align: inherit;
     }
    }
  }
  