/* recent videos */
#recent {

  
    .container {
      margin-top: 0px;
      padding: 0;
    }
      iframe{
        height: 500px;
      }
    
  }

 /* History */

 #history{

  .conatainer{

      padding-top: 3em 0;
   
  }

  .see{
     padding-top: 5em ;
      color:rgb(137, 167, 211);
      text-align: -webkit-center; 
      
   }
  

   .part p{
      padding-top: 0.5em;
      text-align: left 100px;
      
   }

   .pic {

      .pr{
       padding-top: 0.3em;
       padding-bottom: 0.3em;
       height: 15em;
       width: 20em;
   }

   }
  } 

  /* About */ 

  #create{

    //height: 820px;
    background:rgb(216, 216, 203) ;
    background: radial-gradient(circle,
    rgb(239, 239, 241) 0%,
    rgb(204, 219, 219) 100%
    
    );


  

.container{

    padding: 0%;
   
}
.qw{

    .we{

        margin-top: 1.5em;
       // margin-bottom: 1.5em;
       // margin-right: 1em;
       // width: 618px;
      //  height: 320px;
       // margin-left:0px ;
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 500px;
    }
}

    .jk

     p{

        padding-top: 5em;
        text-align: justify;
        text-align: center;
        font-size: medium;
    }

    #examp {
        //border: 1px solid;
        padding: 5px;
        //box-shadow: 5px 10px #888888;
        text-align: center;
        width: 1290px;
       // margin-left: 12.5px;
       padding-top: 2.5em;
        
      }

      
      

      .lp p{

        padding-top: 4.5em;
      text-align: justify;
      text-align: center;
      font-size: medium;
      }

      .op{

        .vb{
          padding-top: 2.6em;
         //@at-root margin-left:1em;
          //  width: 618px;
         //   height: 320px;
         display: block;
         margin-left: auto;
         margin-right: auto;
         width: 500px;
        
    
        }
      }
}







