/* recent videos */
#recent {

  
    .container {
      margin-top: 0px;
      padding: 0;
    }
      iframe{
        height: 500px;
      }
    
  }

 /* History */ 
 #history{

  .conatainer{

      padding-top: 3em 0;
   
  }

  .see{
     padding-top: 6em ;
      color:rgb(137, 167, 211);
      text-align: -webkit-center; 
      
   }
  

   .part p{
      padding-top: 0.5em;
      text-align: left 100px;
      
   }

   .pic {

      .pr{
       padding-top: 0.3em;
       padding-bottom: 0.3em;
       height: 15em;
       width: 20em;
   }

   }
  } 

  /* About */ 
  #create{

    height: 820px;
    background:rgb(192, 190, 73) ;
    background: radial-gradient(circle,
    rgb(207, 120, 21) 0%,
    rgb(32, 167, 172) 100%
    
    );

.container{

    padding: 0%;
   
}
.qw{

    .we{

        margin-top: 1.5em;
        width: 618px;
        height: 350px;
        margin-left:0px ;
    }
}

    .jk

     p{

        padding-top: 1.5em;
    }

    #examp {
        border: 1px solid;
        padding: 5px;
        box-shadow: 5px 10px #888888;
        text-align: center;
        width: 1290px;
        margin-left: 12.5px;
        
      }

      .lp p{

        padding-top: 0.3em;
      }

      .op{

        .vb{

            padding-top: 0.6em;
            width: 618px;
            height: 375px;
    
        }
      }
}



