@font-face {
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    src: url('abhaya-libre-v6-sinhala_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('abhaya-libre-v6-sinhala_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('abhaya-libre-v6-sinhala_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('abhaya-libre-v6-sinhala_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('abhaya-libre-v6-sinhala_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('abhaya-libre-v6-sinhala_latin-regular.svg#AbhayaLibre') format('svg'); /* Legacy iOS */
  }
  /* abhaya-libre-500 - sinhala_latin */
  @font-face {
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 500;
    src: url('abhaya-libre-v6-sinhala_latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('abhaya-libre-v6-sinhala_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('abhaya-libre-v6-sinhala_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('abhaya-libre-v6-sinhala_latin-500.woff') format('woff'), /* Modern Browsers */
         url('abhaya-libre-v6-sinhala_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('abhaya-libre-v6-sinhala_latin-500.svg#AbhayaLibre') format('svg'); /* Legacy iOS */
  }
  /* abhaya-libre-600 - sinhala_latin */
  @font-face {
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 600;
    src: url('abhaya-libre-v6-sinhala_latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('abhaya-libre-v6-sinhala_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('abhaya-libre-v6-sinhala_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('abhaya-libre-v6-sinhala_latin-600.woff') format('woff'), /* Modern Browsers */
         url('abhaya-libre-v6-sinhala_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('abhaya-libre-v6-sinhala_latin-600.svg#AbhayaLibre') format('svg'); /* Legacy iOS */
  }
  /* abhaya-libre-700 - sinhala_latin */
  @font-face {
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 700;
    src: url('abhaya-libre-v6-sinhala_latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('abhaya-libre-v6-sinhala_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('abhaya-libre-v6-sinhala_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('abhaya-libre-v6-sinhala_latin-700.woff') format('woff'), /* Modern Browsers */
         url('abhaya-libre-v6-sinhala_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('abhaya-libre-v6-sinhala_latin-700.svg#AbhayaLibre') format('svg'); /* Legacy iOS */
  }
  /* abhaya-libre-800 - sinhala_latin */
  @font-face {
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 800;
    src: url('abhaya-libre-v6-sinhala_latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('abhaya-libre-v6-sinhala_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('abhaya-libre-v6-sinhala_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('abhaya-libre-v6-sinhala_latin-800.woff') format('woff'), /* Modern Browsers */
         url('abhaya-libre-v6-sinhala_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('abhaya-libre-v6-sinhala_latin-800.svg#AbhayaLibre') format('svg'); /* Legacy iOS */
  }